<footer>
  <div>
    <div>
      Des questions ? Appelez le
      <a href="tel:(+33) 0805-543-063">(+33) 0805-543-063</a>
    </div>
    <ul>
      <li>FAQ</li>
      <li>Centre d'aide</li>
      <li>Boutique Netflix</li>
      <li>Conditions d'utilisation</li>
      <li>Confidentialité</li>
      <li>Préférences de cookies</li>
      <li>Mentions légales</li>
      <li>Choix liés à la pub</li>
    </ul>
    <div>
      <select name="language" id="language">
        <option value="fr">Français</option>
        <option value="en">English</option>
      </select>
    </div>
  </div>
</footer>
